.c-button-reset {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.c-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
    color: $white;

    &::after {
        content: ">";
        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 22px;

        margin-left: 32px;
        min-height: 56px;
        min-width: 56px;
        max-height: 56px;
        max-width: 56px;

        background-color: $theme-color;
        border-radius: 100%;
    }
}

@media (min-width: 768px) {
    .c-button {
        color: $black;
    }
}