.c-button-reset {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.c-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    height: 64px;
    
    color: $black;
    cursor: pointer;

    will-change: color;
    transition: 100ms ease-in;

    &::after {
        content: ">";
        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 22px;

        margin-left: 32px;
        min-height: 56px;
        min-width: 56px;
        max-height: 56px;
        max-width: 56px;

        background-color: $theme-color;
        border-radius: 100%;

        will-change: color;
        transition: 100ms ease-in;
    }
}

@media (max-width: 768px) {
    .c-button__reverse {
        color: $white;
    }
}

.c-button:hover,
.c-button:focus {
    &::after {
        color: $black;
    }
    color: $theme-color;
}

.c-button:active,
.c-button:focus {
    outline: none;
    &::after {
        opacity: .8;
    }
}