---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Rubik:300,300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

    <title>{{ page.title }}</title>
</head>

<body class="o-wrapper">
    <!-- {% include navigation.html %} -->

    {{ content }}

    <!-- {% include footer.html %} -->
</body>

</html>